{% extends "donor/fullbellybase.html" %}

{% block title %}About{% endblock %}

{% block content %}

    <div class="p-6 border border-coolGray-100 overflow-hidden bg-white rounded-md shadow-dashboard relative">
      <div class="pb-6 border-b border-coolGray-100">
        <div class="flex flex-wrap items-center justify-between -m-2">
          <div class="w-full md:w-auto">
            <section>
              <div class="bg-white">
                <div class="container px-4 mx-auto">
                  <div class="flex flex-wrap h-16 py-4 items-center">
                    <p class="inline-block text-xl text-greenish font-medium">About Us</p>
                  </div>
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>

            <section class="bg-coolGray-50 py-4 mt-10">
        <div class="container px-4 mx-auto">
                <div class="p-6 border border-coolGray-100 overflow-hidden bg-white rounded-md shadow-dashboard relative">
          <div class="pt-4 bg-white shadow rounded">
  <div class="py-20 bg-gray-50 rounded">
    <div class="container mx-auto px-4">
      <div class="mb-10 flex flex-wrap">
        <div class="mb-10 lg:mb-0 w-full lg:w-1/2">
          <div class="max-w-md">
            <h2 class="mb-2 text-4xl lg:text-5xl font-bold font-heading" style="color: #2BA19A;">Full Belly Project</h2>
            <p class="max-w-xs text-gray-500 leading-loose">Welcome to our platform that is dedicated to reducing food waste and addressing food insecurity in Kenya. We believe that food should not go to waste when there are people in our community who struggle with hunger.

We are committed to making a positive impact in the lives of individuals and families who face food insecurity.

Together, we can create a better future for everyone.</p>
          </div>
        </div>
        <div class="relative w-full lg:w-1/2">
          <img class="relative rounded-lg" src="https://i.ibb.co/wskY0WM/volunteer-checking-list-donations.jpg" alt="volunteer-checking-list-donations">
        </div>
      </div>
      <div class="flex flex-wrap -mx-4">
        <div class="mb-12 lg:mb-0 w-full md:w-1/2 lg:w-1/2 px-4">
          <h3 class="mb-2 text-3xl font-bold" style="color: #AF8905;">Mission Statement</h3>
          <p class="text-gray-500 leading-loose">The Full Belly Project is dedicated to fighting food waste and insecurity in Kenya We aim to address the humanitarian, environmental, and economic consequences of food waste and insecurity. Our web application connects food service providers with local charities and organizations to reduce food waste and fight hunger in a sustainable and impactful way.</p>
        </div>
        <div class="mb-12 lg:mb-0 w-full md:w-1/2 lg:w-1/2 px-4">
          <h3 class="mb-2 text-3xl font-bold" style="color: #AF8905;">Vision Statement</h3>
          <p class="text-gray-500 leading-loose">Our vision at the Full Belly Project is to create a world where every individual has access to nutritious food, and where food waste is minimized.</p>
        </div>
      </div>
    </div>
  </div>
          </div>
</div>
        </div>
      </section>
    </div>



{% endblock content %}