{% extends "donor/fullbellybase.html" %}

{% block title %}Donate{% endblock %}

{% block content %}

    <div class="p-6 border border-coolGray-100 overflow-hidden bg-white rounded-md shadow-dashboard relative">
      <div class="pb-6 border-b border-coolGray-100">
        <div class="flex flex-wrap items-center justify-between -m-2">
          <div class="w-full md:w-auto">
            <section>
              <div class="bg-white">
                <div class="container px-4 mx-auto">
                  <div class="flex flex-wrap h-16 py-4 items-center">
                    <p class="inline-block text-xl text-coolGray-500 font-medium">Donor</p>
                    <span class="mx-3">
                      <i class="fa-solid fa-caret-right"></i>
                    </span>
                    <p class="inline-block text-xl text-coolGray-500 font-medium">Donations</p>
                    <span class="mx-3">
                      <i class="fa-solid fa-caret-right"></i>
                    </span>
                    <p class="inline-block text-xl text-coolGray-500 font-medium">Donate</p>
                    <span class="mx-3">
                      <i class="fa-solid fa-caret-right"></i>
                    </span>
                    <p class="inline-block text-xl text-greenish font-medium hover:bg-transparent">Make Donation</p>
                  </div>
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>

<section class="bg-coolGray-50 py-4">
  <div class="container px-4 mx-auto">
    <div class="p-6 h-full border border-coolGray-100 overflow-hidden bg-white rounded-md shadow-dashboard">
      <div class="pb-6 border-b border-coolGray-100">
        <div class="flex flex-wrap items-center justify-between -m-2">
          <div class="w-full md:w-auto p-2">
            <p class="text-xl text-coolGray-500 font-medium">Fill in the fields below</p>
          </div>
          <div class="w-full md:w-auto p-2">
            <div class="flex flex-wrap justify-between -m-1.5">
              <div class="w-full md:w-auto p-1.5">
                <button class="flex flex-wrap justify-center w-full px-4 py-2 font-medium text-sm text-coolGray-500 hover:bg-red-500 border-2 border-gray-400 hover:border-red-500 bg-white rounded-md shadow-button" onclick="window.location.href='{% url 'donor:donations' %}'">
                  <p>Cancel</p>
                </button>
              </div>
                <div class="w-full md:w-auto p-1.5">
                  <button id="donate-button" class="flex flex-wrap justify-center w-full px-4 py-2 font-medium text-sm border-2 border-gray-400 hover:border-coolGray-300 bg-white rounded-md shadow-button">
                    <p>Donate</p>
                  </button>
                </div>
            </div>
          </div>
        </div>
      </div>
      <div class="py-6 border-b border-coolGray-100">
        <div class="w-full md:w-9/12">
          <div class="flex flex-wrap -m-3">
            <div class="w-full md:w-1/3 p-3">
              <p class="text-sm text-coolGray-800 font-semibold">Restaurant</p>
            </div>
            <div class="w-full md:flex-1 p-3">
              <div class="relative">
                <select id="restaurant" class="appearance-none w-full py-2.5 px-4 text-coolGray-900 text-base font-normal bg-white border outline-none border-coolGray-200 focus:border-green-500 rounded-lg shadow-input">
                  <option>Sarova</option>
                  <option>Ole Sereni</option>
                  <option>Kempinski</option>

                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="py-6 border-b border-coolGray-100">
        <div class="w-full md:w-9/12">
          <div class="flex flex-wrap -m-3">
            <div class="w-full md:w-1/3 p-3">
              <p class="text-sm text-coolGray-800 font-semibold">NGO</p>
            </div>
            <div class="w-full md:flex-1 p-3">
              <div class="relative">
                <select id="ngo" class="appearance-none w-full py-2.5 px-4 text-coolGray-900 text-base font-normal bg-white border outline-none border-coolGray-200 focus:border-green-500 rounded-lg shadow-input">
                  <option>Send to all</option>
                  <option>Red Cross</option>
                  <option>Rafiki Mwema</option>

                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="py-6 border-b border-coolGray-100">
        <div class="w-full md:w-9/12">
          <div class="flex flex-wrap -m-3">
            <div class="w-full md:w-1/3 p-3">
              <p class="text-sm text-coolGray-800 font-semibold">Food Items</p>
            </div>
            <div class="w-full md:flex-1 p-3">
              <div class="relative">
                <select id="food-type" class="appearance-none w-full py-2.5 px-4 text-coolGray-900 text-base font-normal bg-white border outline-none border-coolGray-200 focus:border-green-500 rounded-lg shadow-input">
                  <option>Perishable</option>
                  <option>Non-Perishable</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="other-fields-container">
        <div class="py-6 border-b border-coolGray-100">
        <div class="w-full md:w-9/12">
          <div class="flex flex-wrap -m-3">
            <div class="w-full md:w-1/3 p-3">
              <p class="text-sm text-coolGray-800 font-semibold">Meal Type</p>
            </div>
            <div class="w-full md:flex-1 p-3">
              <div class="relative">
                <select class="appearance-none w-full py-2.5 px-4 text-coolGray-900 text-base font-normal bg-white border outline-none border-coolGray-200 focus:border-green-500 rounded-lg shadow-input">
                  <option>Breakfast</option>
                  <option>Lunch</option>
                  <option>Dinner</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="py-6 border-b border-coolGray-100">
        <div class="w-full md:w-9/12">
          <div class="flex flex-wrap -m-3">
            <div class="w-full md:w-1/3 p-3">
              <p class="text-sm text-coolGray-800 font-semibold">Photo</p>
              <p class="text-xs text-coolGray-500 font-medium">Add Meal Photos</p>
            </div>
            <div class="w-full md:flex-1 p-3">
              <p class="pb-2 text-xs text-coolGray-500 font-medium" style="color: red">NOTE: Once uploaded, you can't edit Meal Photos</p>
              <div class="relative flex flex-col items-center justify-center p-6 h-44 text-center text-greenish focus-within:border-greenish border border-dashed border-coolGray-200 rounded-lg">
                <i class="fa-lg fa-solid fa-upload"></i>
                <p class="mt-4 text-sm text-greenish font-medium">
                  <span class="text-greenish">Click to Upload a file</span>
                  <span>or drag and drop</span>
                </p>
                <p class="text-xs text-greenish font-medium">PNG, JPG up to 10MB</p>
                <p class="mt-1 underline text-sm text-greenish font-medium">
                        <span class="text-greenish">Maximum of 5 Photos</span>
                      </p>
                <input class="absolute top-0 left-0 w-full h-full opacity-0" type="file">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="py-6 border-b border-coolGray-100">
        <div class="w-full md:w-9/12">
          <div class="flex flex-wrap -m-3">
            <div class="w-full md:w-1/3 p-3">
              <p class="text-sm text-coolGray-800 font-semibold">Meal Quantity</p>
            </div>
            <div class="w-full md:flex-1 p-3">
              <div class="flex items-center focus-within:border-green-500 overflow-hidden border border-coolGray-200 rounded-lg shadow-input">
                <input class="w-full px-4 py-2.5 text-base text-coolGray-900 font-normal outline-none border-l" type="number">
                <p class="px-4 text-base text-coolGray-500 font-normal">Plates</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="py-6 border-b border-coolGray-100">
        <div class="w-full md:w-9/12">
          <div class="flex flex-wrap -m-3">
            <div class="w-full md:w-1/3 p-3">
              <p class="text-sm text-coolGray-800 font-semibold">Meal Expiry Time</p>
            </div>
            <div class="w-full md:flex-1 p-3">
              <div class="flex items-center focus-within:border-green-500 overflow-hidden border border-coolGray-200 rounded-lg shadow-input">
                <input class="w-full px-4 py-2.5 text-base text-coolGray-900 font-normal outline-none border-l" type="number">
                <p class="px-4 text-base text-coolGray-500 font-normal">Minutes</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="py-6 border-b border-coolGray-100">
        <div class="w-full md:w-9/12">
          <div class="flex flex-wrap -m-3">
            <div class="w-full md:w-1/3 p-3">
              <p class="text-sm text-coolGray-800 font-semibold">Pickup Location</p>
            </div>
            <div class="w-full md:flex-1 p-3">
              <input class="w-full px-4 py-2.5 text-base text-coolGray-900 font-normal outline-none focus:border-green-500 border border-coolGray-200 rounded-lg shadow-input" type="text" placeholder="Location">
            </div>
          </div>
        </div>
      </div>
      </div>

    </div>
  </div>
</section>

    </div>

<script>
  const foodTypeSelect = document.getElementById('food-type');
const NonPerishableInputFields = `
      <div class="py-6 border-b border-coolGray-100">
        <div class="w-full md:w-9/12">
          <div class="flex flex-wrap -m-3">
            <div class="w-full md:w-1/3 p-3">
              <p class="text-sm text-coolGray-800 font-semibold">Meal Title</p>
            </div>
            <div class="w-full md:flex-1 p-3">
              <input class="w-full px-4 py-2.5 text-base text-coolGray-900 font-normal outline-none focus:border-green-500 border border-coolGray-200 rounded-lg shadow-input" type="text" placeholder="e.g. beans">
            </div>
          </div>
        </div>
      </div>
      <div class="py-6 border-b border-coolGray-100">
        <div class="w-full md:w-9/12">
          <div class="flex flex-wrap -m-3">
            <div class="w-full md:w-1/3 p-3">
              <p class="text-sm text-coolGray-800 font-semibold">Meal Description</p>
              <p class="text-xs text-coolGray-500 font-medium">Describe your meal</p>
            </div>
            <div class="w-full md:flex-1 p-3"><textarea placeholder="e.g. Sundried harvested beans" class="block w-full h-50 p-6 text-base text-coolGray-900 font-normal outline-none focus:border-green-500 border border-coolGray-200 rounded-lg shadow-input resize-none"></textarea></div>
          </div>
        </div>
      </div>
      <div class="py-6 border-b border-coolGray-100">
        <div class="w-full md:w-9/12">
          <div class="flex flex-wrap -m-3">
            <div class="w-full md:w-1/3 p-3">
              <p class="text-sm text-coolGray-800 font-semibold">Photo</p>
              <p class="text-xs text-coolGray-500 font-medium">Add Meal Photos</p>
            </div>
            <div class="w-full md:flex-1 p-3">
            <p class="pb-2 text-xs text-coolGray-500 font-medium" style="color: red">NOTE: Once uploaded, you can't edit Meal Photos</p>
              <div class="relative flex flex-col items-center justify-center p-6 h-44 text-center text-greenish focus-within:border-greenish border border-dashed border-coolGray-200 rounded-lg">
                <i class="fa-lg fa-solid fa-upload"></i>
                <p class="mt-4 text-sm text-greenish font-medium">
                  <span class="text-greenish">Click to Upload a file</span>
                  <span>or drag and drop</span>
                </p>
                <p class="text-xs text-greenish font-medium">PNG, JPG up to 10MB</p>
                <p class="mt-1 underline text-sm text-greenish font-medium">
                        <span class="text-greenish">Maximum of 5 Photos</span>
                      </p>
                <input class="absolute top-0 left-0 w-full h-full opacity-0" type="file">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="py-6 border-b border-coolGray-100">
        <div class="w-full md:w-9/12">
          <div class="flex flex-wrap -m-3">
            <div class="w-full md:w-1/3 p-3">
              <p class="text-sm text-coolGray-800 font-semibold">Meal Quantity</p>
            </div>
            <div class="w-full md:flex-1 p-3">
              <div class="flex items-center focus-within:border-green-500 overflow-hidden border border-coolGray-200 rounded-lg shadow-input">
                <input class="w-full px-4 py-2.5 text-base text-coolGray-900 font-normal outline-none border-l" min="1" type="number">
                <p class="px-4 text-base text-coolGray-500 font-normal">Kgs</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="py-6 border-b border-coolGray-100">
        <div class="w-full md:w-9/12">
          <div class="flex flex-wrap -m-3">
            <div class="w-full md:w-1/3 p-3">
              <p class="text-sm text-coolGray-800 font-semibold">Pickup Location</p>
            </div>
            <div class="w-full md:flex-1 p-3">
              <input class="w-full px-4 py-2.5 text-base text-coolGray-900 font-normal outline-none focus:border-green-500 border border-coolGray-200 rounded-lg shadow-input" type="text" placeholder="Location">
            </div>
          </div>
        </div>
      </div>
`;

const PerishableInputFields = `
<div class="py-6 border-b border-coolGray-100">
        <div class="w-full md:w-9/12">
          <div class="flex flex-wrap -m-3">
            <div class="w-full md:w-1/3 p-3">
              <p class="text-sm text-coolGray-800 font-semibold">Meal Type</p>
            </div>
            <div class="w-full md:flex-1 p-3">
              <div class="relative">
                <select class="appearance-none w-full py-2.5 px-4 text-coolGray-900 text-base font-normal bg-white border outline-none border-coolGray-200 focus:border-green-500 rounded-lg shadow-input">
                  <option>Breakfast</option>
                  <option>Lunch</option>
                  <option>Dinner</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="py-6 border-b border-coolGray-100">
        <div class="w-full md:w-9/12">
          <div class="flex flex-wrap -m-3">
            <div class="w-full md:w-1/3 p-3">
              <p class="text-sm text-coolGray-800 font-semibold">Photo</p>
              <p class="text-xs text-coolGray-500 font-medium">Add Meal Photos</p>
            </div>
            <div class="w-full md:flex-1 p-3">
            <p class="pb-2 text-xs text-coolGray-500 font-medium" style="color: red">NOTE: Once uploaded, you can't edit Meal Photos</p>
              <div class="relative flex flex-col items-center justify-center p-6 h-44 text-center text-greenish focus-within:border-greenish border border-dashed border-coolGray-200 rounded-lg">
                <i class="fa-lg fa-solid fa-upload"></i>
                <p class="mt-4 text-sm text-greenish font-medium">
                  <span class="text-greenish">Click to Upload a file</span>
                  <span>or drag and drop</span>
                </p>
                <p class="text-xs text-greenish font-medium">PNG, JPG up to 10MB</p>
                <p class="mt-1 underline text-sm text-greenish font-medium">
                        <span class="text-greenish">Maximum of 5 Photos</span>
                      </p>
                <input class="absolute top-0 left-0 w-full h-full opacity-0" type="file">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="py-6 border-b border-coolGray-100">
        <div class="w-full md:w-9/12">
          <div class="flex flex-wrap -m-3">
            <div class="w-full md:w-1/3 p-3">
              <p class="text-sm text-coolGray-800 font-semibold">Meal Quantity</p>
            </div>
            <div class="w-full md:flex-1 p-3">
              <div class="flex items-center focus-within:border-green-500 overflow-hidden border border-coolGray-200 rounded-lg shadow-input">
                <input class="w-full px-4 py-2.5 text-base text-coolGray-900 font-normal outline-none border-l" type="number">
                <p class="px-4 text-base text-coolGray-500 font-normal">Plates</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="py-6 border-b border-coolGray-100">
        <div class="w-full md:w-9/12">
          <div class="flex flex-wrap -m-3">
            <div class="w-full md:w-1/3 p-3">
              <p class="text-sm text-coolGray-800 font-semibold">Meal Expiry Time</p>
            </div>
            <div class="w-full md:flex-1 p-3">
              <div class="flex items-center focus-within:border-green-500 overflow-hidden border border-coolGray-200 rounded-lg shadow-input">
                <input class="w-full px-4 py-2.5 text-base text-coolGray-900 font-normal outline-none border-l" type="number">
                <p class="px-4 text-base text-coolGray-500 font-normal">Minutes</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="py-6 border-b border-coolGray-100">
        <div class="w-full md:w-9/12">
          <div class="flex flex-wrap -m-3">
            <div class="w-full md:w-1/3 p-3">
              <p class="text-sm text-coolGray-800 font-semibold">Pickup Location</p>
            </div>
            <div class="w-full md:flex-1 p-3">
              <input class="w-full px-4 py-2.5 text-base text-coolGray-900 font-normal outline-none focus:border-green-500 border border-coolGray-200 rounded-lg shadow-input" type="text" placeholder="Location">
            </div>
          </div>
        </div>
      </div>
`;

foodTypeSelect.addEventListener('change', function() {
  const selectedValue = foodTypeSelect.value;
  const otherFieldsContainer = document.getElementById('other-fields-container');

  if (selectedValue === 'Non-Perishable') {
    otherFieldsContainer.innerHTML = NonPerishableInputFields;
  } else {
    otherFieldsContainer.innerHTML = PerishableInputFields;
  }
});
</script>


<script>
  const donateButton = document.getElementById('donate-button');
  donateButton.addEventListener('click', () => {
    const modal = document.createElement('div');
    modal.classList.add('modal');
    modal.innerHTML = `
      <div class="modal-content">
      <div><i class="fa-solid fa-circle-check fa-beat-fade fa-2xl" style="margin-top: 20px; margin-bottom: 30px; color: #2BA19A;"></i></div>
        <h2 class="mb-2 text-2xl lg:text-2xl font-bold font-heading" style="color: #2BA19A;">Success</h2>
        <p>Donation request sent.</p>
        <p>View your donation on My Posted Donation section.</p>
      </div>
    `;
    document.body.appendChild(modal);
    setTimeout(() => {
      modal.remove();
      window.location.href = "{% url 'donor:donations' %}";
    }, 5000);
  });
</script>


{% endblock content %}