{% extends "donor/fullbellybase.html" %}

{% block title %}History{% endblock %}

{% block content %}

    <div class="p-6 border border-coolGray-100 overflow-hidden bg-white rounded-md shadow-dashboard relative">
      <div class="pb-6 border-b border-coolGray-100">
        <div class="flex flex-wrap items-center justify-between -m-2">
          <div class="w-full md:w-auto">
            <section>
              <div class="bg-white">
                <div class="container px-4 mx-auto">
                  <div class="flex flex-wrap h-16 py-4 items-center">
                    <p class="inline-block text-xl text-coolGray-500 font-medium">Donor</p>
                    <span class="mx-3">
                      <i class="fa-solid fa-caret-right"></i>
                    </span>
                    <p class="inline-block text-xl text-greenish font-medium hover:bg-transparent">History</p>
                  </div>
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>

   <section class="py-8">
       <div class="container px-4 mx-auto">
           <div class="pt-4 bg-white shadow rounded">
               <div class="flex px-6 pb-4 border-b">
                   <p class="text-lg text-coolGray-500 font-medium">Perishable Food Items</p>
               </div>
               <div class="p-4 overflow-x-auto">
                   {% if perishable_donations %}
                   <table class="table-auto w-full">
                       <thead>
                           <tr class="text-sm text-left" style="color: #AF8905;">
                               <th class="pb-3 font-medium">Restaurant</th>
                               <th class="pb-3 font-medium">Meal</th>
                               <th class="pb-3 font-medium">Quantity</th>
                               <th class="pb-3 font-medium">Driver</th>
                               <th class="pb-3 font-medium">Action</th>
                           </tr>
                       </thead>
                       <tbody>
                           {% for donation in perishable_donations %}
                           <tr class="text-sm bg-gray-50">
                               <td class="py-5 px-6 font-medium">{{ donation.RestaurantID.Name }}</td>
                               <td class="font-medium">{{ donation.perishabledonation.MealType }}</td>
                               <td class="font-medium">{{ donation.perishabledonation.MealQuantityPlates }} Plates</td>
                               <td class="font-medium">{{ donation.driver }}</td>
                               <td>
                                   <a class="inline-block hover:bg-transparent"
                                       href="{% url 'donor:history_details' donation.DonationID %}" title="More Details">
                                       <i class="fa-lg fa-solid fa-eye" style="color: #2BA19A;"></i>
                                   </a>
                               </td>
                           </tr>
                           {% endfor %}
                       </tbody>
                   </table>
                   {% else %}
                   <p class="text-center text-gray-500 py-5">You have not made any perishable donations yet</p>
                   {% endif %}
               </div>

               <div class="flex px-6 pb-4 border-b">
                   <p class="text-lg text-coolGray-500 font-medium">Non-Perishable Food Items</p>
               </div>
               <div class="p-4 overflow-x-auto">
                   {% if non_perishable_donations %}
                   <table class="table-auto w-full">
                       <thead>
                           <tr class="text-sm text-left" style="color: #AF8905;">
                               <th class="pb-3 font-medium">Restaurant</th>
                               <th class="pb-3 font-medium">Meal</th>
                               <th class="pb-3 font-medium">Quantity</th>
                               <th class="pb-3 font-medium">Driver</th>
                               <th class="pb-3 font-medium">Action</th>
                           </tr>
                       </thead>
                       <tbody>
                           {% for donation in non_perishable_donations %}
                           <tr class="text-sm bg-gray-50">
                               <td class="py-5 px-6 font-medium">{{ donation.RestaurantID.Name }}</td>
                               <td class="font-medium">{{ donation.nonperishabledonation.MealTitle }}</td>
                               <td class="font-medium">{{ donation.nonperishabledonation.MealQuantityKgs }} Kgs</td>
                               <td class="font-medium">{{ donation.driver }}</td>
                               <td>
                                   <a class="inline-block hover:bg-transparent"
                                       href="{% url 'donor:history_details' donation.DonationID %}" title="More Details">
                                       <i class="fa-lg fa-solid fa-eye" style="color: #2BA19A;"></i>
                                   </a>
                               </td>
                           </tr>
                           {% endfor %}
                       </tbody>
                   </table>
                   {% else %}
                   <p class="text-center text-gray-500 py-5">You have not made any non-perishable donations yet</p>
                   {% endif %}
               </div>
           </div>
       </div>
   </section>
    </div>

{% endblock content %}