{% extends "donor/fullbellybase.html" %}

{% block title %}Messaging{% endblock %}

{% block content %}

    <div class="p-6 border border-coolGray-100 overflow-hidden bg-white rounded-md shadow-dashboard relative">
      <div class="pb-6 border-b border-coolGray-100">
        <div class="flex flex-wrap items-center justify-between -m-2">
          <div class="w-full md:w-auto">
            <section>
              <div class="bg-white">
                <div class="container px-4 mx-auto">
                  <div class="flex flex-wrap h-16 py-4 items-center">
                    <p class="inline-block text-xl text-coolGray-500 font-medium">Messaging</p>
                    <span class="mx-3">
                      <i class="fa-solid fa-caret-right"></i>
                    </span>
                    <p class="inline-block text-xl text-greenish font-medium hover:bg-transparent">Send Message</p>
                  </div>
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>
<section class="bg-coolGray-50 py-4">
  <div class="container px-4 mx-auto">
    <div class="p-6 h-full border border-coolGray-100 overflow-hidden bg-white rounded-md shadow-dashboard">
      <div class="pb-6 border-b border-coolGray-100">
        <div class="flex flex-wrap items-center justify-between -m-2">
          <div class="w-full md:w-auto p-2">
            <p class="text-lg text-coolGray-500 font-medium">Compose your message</p>
          </div>
          <div class="w-full md:w-auto p-2">
            <div class="flex flex-wrap justify-between -m-1.5">
              <div class="w-full md:w-auto p-1.5">
                <button class="group relative font-medium leading-6 px-5 mb-2 py-3 w-full uppercase text-white text-xs font-semibold tracking-px bg-custom-color overflow-hidden rounded-md" onclick="window.location.href='{% url 'donor:messaging' %}'">
                  <div class="absolute top-0 left-0 transform -translate-x-full group-hover:-translate-x-0 h-full w-full transition ease-in-out duration-500 bg-gradient-custom-3"></div>
                  <p class="relative z-10">Cancel</p>
                </button>
              </div>
                <div class="w-full md:w-auto p-1.5">
                  <button id="send-message-button" class="group relative font-medium leading-6 px-5 mb-2 py-3 w-full uppercase text-white text-xs font-semibold tracking-px bg-custom-color hover:bg-custom-hover overflow-hidden rounded-md">
                    <div class="absolute top-0 left-0 transform -translate-x-full group-hover:-translate-x-0 h-full w-full transition ease-in-out duration-500 bg-gradient-custom"></div>
                    <p class="relative z-10">Send</p>
                  </button>
                </div>
            </div>
          </div>
        </div>
      </div>
      <div class="py-6 border-b border-coolGray-100">
        <div class="w-full md:w-9/12">
          <div class="flex flex-wrap -m-3">
            <div class="w-full md:w-1/3 p-3">
              <p class="text-sm text-coolGray-800 font-semibold">Send To</p>
            </div>
            <div class="w-full md:flex-1 p-3">
              <div class="relative">
                <select id="restaurant" class="appearance-none w-full py-2.5 px-4 text-coolGray-900 text-base font-normal bg-white border outline-none border-coolGray-200 focus:border-green-500 rounded-lg shadow-input">
                  <option>Select</option>
                  <option>Red Cross</option>
                  <option>Rafiki Mwema</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="py-6 border-b border-coolGray-100">
        <div class="w-full md:w-9/12">
          <div class="flex flex-wrap -m-3">
            <div class="w-full md:w-1/3 p-3">
              <p class="text-sm text-coolGray-800 font-semibold">Text</p>
              <p class="text-xs text-coolGray-500 font-medium">Type your Message</p>
            </div>
            <div class="w-full md:flex-1 p-3"><textarea placeholder="e.g. Have you received the donation ?" class="block w-full h-25 p-6 text-base text-coolGray-900 font-normal outline-none focus:border-green-500 border border-coolGray-200 rounded-lg shadow-input resize-none"></textarea></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  const sendMessageButton = document.getElementById('send-message-button');
  sendMessageButton.addEventListener('click', () => {
    const modal = document.createElement('div');
    modal.classList.add('modal');
    modal.innerHTML = `
      <div class="modal-content modal-large">
        <div><i class="fa-solid fa-circle-check fa-beat-fade fa-2xl" style="margin-top: 20px; margin-bottom: 30px; color: #2BA19A;"></i></div>
        <h2 class="mb-2 text-2xl lg:text-2xl font-bold font-heading" style="color: #2BA19A;">Success</h2>
        <p>Message Sent</p>
      </div>
    `;
    document.body.appendChild(modal);
    setTimeout(() => {
      modal.remove();
      window.location.href = "{% url 'donor:messaging' %}";
    }, 1500);
  });
</script>



    </div>

{% endblock content %}

