{% extends "recipient/fullbellybase.html" %}

{% block title %}Drivers{% endblock %}

{% block content %}

    <div class="p-6 border border-coolGray-100 overflow-hidden bg-white rounded-md shadow-dashboard relative">
      <div class="pb-6 border-b border-coolGray-100">
        <div class="flex flex-wrap items-center justify-between -m-2">
          <div class="w-full md:w-auto">
            <section>
              <div class="bg-white">
                <div class="container px-4 mx-auto">
                  <div class="flex flex-wrap h-16 py-4 items-center">
                    <p class="inline-block text-xl text-coolGray-500 font-medium">Recipient</p>
                    <span class="mx-3">
                      <i class="fa-solid fa-caret-right"></i>
                    </span>
                    <p class="inline-block text-xl text-coolGray-500 font-medium">Drivers</p>
                    <span class="mx-3">
                      <i class="fa-solid fa-caret-right"></i>
                    </span>
                    <p class="inline-block text-xl text-greenish font-medium hover:bg-transparent">Create Driver Account</p>
                  </div>
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>
<section class="bg-coolGray-50 py-4">
  <div class="container px-4 mx-auto">
    <div class="p-6 h-full border border-coolGray-100 overflow-hidden bg-white rounded-md shadow-dashboard">
      <div class="pb-6 border-b border-coolGray-100">
        <div class="flex flex-wrap items-center justify-between -m-2">
          <div class="w-full md:w-auto p-2">
            <p class="text-lg text-coolGray-500 font-medium">Fill the details below</p>
          </div>
        </div>
      </div>
<form id="add-driver-form" method="post" action="{% url 'recipient:add_driver' %}" enctype="multipart/form-data">
  {% csrf_token %}
  <div class="mt-4"></div>
  {% for field in form %}
  <div class="relative w-full py-2 px-3 mb-4 border-gray-400 focus-within:border-green-500 rounded-lg {% if field.errors %}is-invalid{% endif %}">
    <div class="flex items-center">
      <label for="{{ field.id_for_label }}" class="block w-1/4 pr-4 font-medium text-sm text-gray-700">{{ field.label }}</label>
      <div class="w-1/2 flex items-center"> <!-- Adjusted width to 1/2 -->
        {% if field.name == 'Photo' %}
          <input class="block w-full p-6 h-44 bg-transparent text-sm text-center text-greenish font-medium rounded-lg focus-within:border-greenish border border-dashed border-greenish rounded-lg" type="file" name="{{ field.name }}" id="{{ field.name }}" accept="image/*" data-field-name="{{ field.name }}">
        {% elif field.name == 'OrganizationID' %}
          <select class="block w-full h-14 bg-transparent text-sm text-dark font-medium rounded-lg" name="{{ field.name }}" id="{{ field.id_for_label }}">
            <option value="" style="padding-left: 5px;">Select organization</option>
            {% for choice in field.field.choices %}
              <option value="{{ choice.0 }}" {% if choice.0 == field.value %}selected{% endif %}>{{ choice.1 }}</option>
            {% endfor %}
          </select>
        {% else %}
          <input class="block w-full h-14 bg-transparent text-sm text-dark font-medium rounded-lg" type="{% if field.name == 'password1' or field.name == 'password2' %}password{% else %}{{ field.field.widget.input_type }}{% endif %}" name="{{ field.name }}" {% if field.name == 'password1' or field.name == 'password2' %}autocomplete="new-password"{% endif %} id="{{ field.id_for_label }}" data-field-name="{{ field.name }}">
        {% endif %}
        {% if field.name == 'password1' or field.name == 'password2' %}
        <button class="btn btn-outline-secondary toggle-password ml-2" type="button">
          <i class="fa-solid fa-eye-slash"></i>
        </button>
        {% endif %}
      </div>
    </div>
    {% if field.errors %}
    <div id="{{ field.name }}-error" class="text-red-500 text-sm error-message">
      {% for error in field.errors %}
      <span>{{ error }}</span><br>
      {% endfor %}
    </div>
    {% endif %}
  </div>
  {% endfor %}

  <div class="flex justify-end space-x-4 mt-8">
    <button class="group relative font-medium leading-6 px-4 py-3 w-32 uppercase text-white text-xs font-semibold tracking-px bg-custom-color overflow-hidden rounded-md" onclick="window.location.href='{% url 'recipient:drivers' %}'">
      <div class="absolute top-0 left-0 transform -translate-x-full group-hover:-translate-x-0 h-full w-full transition ease-in-out duration-500 bg-gradient-custom-3"></div>
      <p class="relative z-10">Cancel</p>
    </button>

    <button id="add-driver-button" class="group relative font-semibold leading-

6 px-4 py-3 w-32 uppercase text-white text-xs font-semibold tracking-px bg-custom-color hover:bg-custom-hover overflow-hidden rounded-md" type="submit">
      <div class="absolute top-0 left-0 transform -translate-x-full group-hover:-translate-x-0 h-full w-full transition ease-in-out duration-500 bg-gradient-custom"></div>
      <p class="relative z-10">Add Driver</p>
    </button>
  </div>
</form>





      </div>

  </div>
</section>

      <script>

  $(document).ready(function() {
  // Toggle password visibility
  $('.toggle-password').click(function() {
    var passwordInput = $(this).siblings('input[type="password"]');
    var passwordFieldType = passwordInput.attr('type');

    if (passwordFieldType === 'password') {
      passwordInput.attr('type', 'text');
      $(this).html('<i class="fa-solid fa-eye"></i>');
    } else {
      passwordInput.attr('type', 'password');
      $(this).html('<i class="fa-solid fa-eye-slash"></i>');
    }
  });

  $('#add-driver-form').submit(function(event) {
    event.preventDefault();

    var formData = new FormData(this);  // Use FormData to include file input field

    $.ajax({
      type: 'POST',
      url: '{% url "recipient:add_driver" %}',
      data: formData,
      dataType: 'json',
      contentType: false,  // Set contentType and processData to false when using FormData
      processData: false,
      beforeSend: function() {
        // Show loading modal
        $('#loading-popup').removeClass('hidden');
      },
      success: function(response) {
        if (response.success) {
          // Hide loading modal
          $('#loading-popup').addClass('hidden');

          // Show success modal
          $('#success-popup').removeClass('hidden');

          // Redirect to desired page after a delay
          setTimeout(function() {
            window.location.href = '{% url "recipient:drivers" %}';
          }, 3000);
        } else {
          // Hide success modal if it's shown for any previous registration attempt
          $('#success-popup').addClass('hidden');

          // Handle form errors
          var errors = response.errors;
          for (var field in errors) {
            var errorMessages = errors[field].join('<br>');
            $('#' + field + '-error').html('<span>' + errorMessages + '</span>');
          }
        }
      },
      error: function(error) {
        console.error(error);
      },
      complete: function() {
        // Hide loading modal
        $('#loading-popup').addClass('hidden');
      }
    });
  });
});


</script>
    </div>


{% endblock content %}