{% extends "recipient/fullbellybase.html" %}

{% block title %}NGO{% endblock %}

{% block content %}

    <div class="p-6 border border-coolGray-100 overflow-hidden bg-white rounded-md shadow-dashboard relative">
      <div class="pb-6 border-b border-coolGray-100">
        <div class="flex flex-wrap items-center justify-between -m-2">
          <div class="w-full md:w-auto">
            <section>
              <div class="bg-white">
                <div class="container px-4 mx-auto">
                  <div class="flex flex-wrap h-16 py-4 items-center">
                    <p class="inline-block text-xl text-coolGray-500 font-medium">Recipient</p>
                    <span class="mx-3">
                      <i class="fa-solid fa-caret-right"></i>
                    </span>
                    <p class="inline-block text-xl text-greenish font-medium hover:bg-transparent">Add NGO</p>
                  </div>
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <section class="bg-coolGray-50 py-4">
        <div class="container px-4 mx-auto">
            <div class="p-6 h-full border border-coolGray-100 overflow-hidden bg-white rounded-md shadow-dashboard">
                <div class="pb-6 border-b border-coolGray-100">
                    <div class="flex flex-wrap items-center justify-between -m-2">
                        <div class="w-full md:w-auto p-2">
                            <p class="text-lg text-coolGray-500 font-medium">Fill the details below</p>
                        </div>
                        <div class="w-full md:w-auto p-2">
                            <div class="flex flex-wrap justify-between -m-1.5">
                                <div class="w-full md:w-auto p-1.5">
                                    <button type="submit" id="add-ngo-button" class="group relative font-medium leading-6 px-5 mb-2 py-3 w-full uppercase text-white text-xs font-semibold tracking-px bg-custom-color hover:bg-custom-hover overflow-hidden rounded-md">
                                        <div class="absolute top-0 left-0 transform -translate-x-full group-hover:-translate-x-0 h-full w-full transition ease-in-out duration-500 bg-gradient-custom"></div>
                                        <p class="relative z-10">Add NGO</p>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="py-6 border-b border-coolGray-100">
                    <div class="w-full md:w-9/12">
                        <div class="flex flex-wrap -m-3">
                            <div class="w-full md:w-1/3 p-3">
                                <p class="text-sm text-coolGray-800 font-semibold">NGO Name</p>
                            </div>
                            <div class="w-full md:flex-1 p-3">
                                <input class="w-full px-4 py-2.5 text-base text-coolGray-900 font-normal outline-none focus:border-green-500 border border-coolGray-200 rounded-lg shadow-input" type="text" placeholder="e.g, Red cross" name="Name" id="id_Name">
                                <div class="text-red-500 text-sm mt-2" id="Name-error"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="py-6 border-b border-coolGray-100">
                    <div class="w-full md:w-9/12">
                        <div class="flex flex-wrap -m-3">
                            <div class="w-full md:w-1/3 p-3">
                                <p class="text-sm text-coolGray-800 font-semibold">NGO Description</p>
                                <p class="text-xs text-coolGray-500 font-medium">Describe your NGO</p>
                            </div>
                            <div class="w-full md:flex-1 p-3">
                                <textarea placeholder="e.g. combines flavors & inspiration from the Far East & the West to create what we think is the best" class="block w-full h-50 p-6 text-base text-coolGray-900 font-normal outline-none focus:border-green-500 border border-coolGray-200 rounded-lg shadow-input resize-none" name="Description" id="id_Description"></textarea>
                                <div class="text-red-500 text-sm mt-2" id="Description-error"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="py-6 border-b border-coolGray-100">
                    <div class="w-full md:w-9/12">
                        <div class="flex flex-wrap -m-3" id="upload-photo-section">
                            <div class="w-full md:w-1/3 p-3">
                                <p class="text-sm text-coolGray-800 font-semibold">NGO Photo</p>
                                <p class="text-xs text-coolGray-500 font-medium">Upload photo</p>
                            </div>
                            <div class="w-full md:flex-1 p-3">
                                <div class="relative flex flex-col items-center justify-center p-6 h-44 text-center text-greenish focus-within:border-greenish border border-dashed border-coolGray-200 rounded-lg">
                                    <input class="block w-full p-6 h-44 bg-transparent text-sm text-center text-greenish font-medium rounded-lg focus-within:border-greenish border border-dashed border-greenish rounded-lg" type="file" name="Photo" id="id_Photo" accept="image/*">
                                    <div class="text-red-500 text-sm mt-2" id="Photo-error"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="py-6 border-b border-coolGray-100">
                    <div class="w-full md:w-9/12">
                        <div class="flex flex-wrap -m-3">
                            <div class="w-full md:w-1/3 p-3">
                                <p class="text-sm text-coolGray-800 font-semibold">NGO Location</p>
                            </div>
                            <div class="w-full md:flex-1 p-3">
                                <input class="w-full px-4 py-2.5 text-base text-coolGray-900 font-normal outline-none focus:border-green-500 border border-coolGray-200 rounded-lg shadow-input" type="text" placeholder="e.g, Mavoko, Athi River" name="Location" id="id_Location">
                                <div class="text-red-500 text-sm mt-2" id="Location-error"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="py-6 border-b border-coolGray-100">
                    <div class="w-full md:w-9/12">
                        <div class="flex flex-wrap -m-3">
                            <div class="w-full md:w-1/3 p-3">
                                <p class="text-sm text-coolGray-800 font-semibold">NGO License No.</p>
                            </div>
                            <div class="w-full md:flex-1 p-3">
                                <input class="w-full px-4 py-2.5 text-base text-coolGray-900 font-normal outline-none focus:border-green-500 border border-coolGray-200 rounded-lg shadow-input" type="text" placeholder="e.g, 22782728827" name="LicenseNumber" id="id_LicenseNumber">
                                <div class="text-red-500 text-sm mt-2" id="LicenseNumber-error"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</form>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const form = document.querySelector("form");

    // Function to clear previous errors
    function clearErrors() {
      const errorDivs = form.querySelectorAll(".text-red-500");
      errorDivs.forEach((errorDiv) => {
        errorDiv.innerHTML = '';
      });
    }

    form.addEventListener("submit", function (event) {
      event.preventDefault();

      clearErrors(); // Clear previous errors

      const formData = new FormData(form);

      fetch(form.action, {
        method: "POST",
        body: formData,
        headers: {
          "X-CSRFToken": getCookie("csrftoken"), // Replace with your method to get CSRF token
        },
      })
        .then((response) => response.json())
        .then((data) => {
          if (data.success) {
            // Clear previous errors
            clearErrors();

            // Redirect to NGO details page
            window.location.href = "{% url 'recipient:ngo_details' %}";
          } else {
            // Handle form errors
            const errors = data.errors;
            for (const field in errors) {
              if (Object.hasOwnProperty.call(errors, field)) {
                const errorMessages = errors[field].join('<br>');
                const errorElement = document.getElementById(field + '-error');
                if (errorElement) {
                  errorElement.innerHTML = '<span>' + errorMessages + '</span>';
                }
              }
            }
          }
        })
        .catch((error) => {
          console.error("Error:", error);
          // Handle errors if needed
        });
    });

    // Function to get CSRF cookie value
    function getCookie(name) {
      let cookieValue = null;
      if (document.cookie && document.cookie !== "") {
        const cookies = document.cookie.split(";");
        for (let i = 0; i < cookies.length; i++) {
          const cookie = cookies[i].trim();
          if (cookie.substring(0, name.length + 1) === name + "=") {
            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
            break;
          }
        }
      }
      return cookieValue;
    }
  });
</script>





    </div>



{% endblock content %}

