{% extends "recipient/fullbellybase.html" %}

{% block title %}Drivers{% endblock %}

{% block content %}

    <div class="p-6 border border-coolGray-100 overflow-hidden bg-white rounded-md shadow-dashboard relative">
      <div class="pb-6 border-b border-coolGray-100">
        <div class="flex flex-wrap items-center justify-between -m-2">
          <div class="w-full md:w-auto">
            <section>
              <div class="bg-white">
                <div class="container px-4 mx-auto">
                  <div class="flex flex-wrap h-16 py-4 items-center">
                    <p class="inline-block text-xl text-coolGray-500 font-medium">Recipient</p>
                    <span class="mx-3">
                      <i class="fa-solid fa-caret-right"></i>
                    </span>
                    <p class="inline-block text-xl text-greenish font-medium hover:bg-transparent">Drivers</p>
                  </div>
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>
      <section class="bg-coolGray-50 py-4 mt-10">
        <div class="container px-4 mx-auto">
          <div class="p-6 h-full border border-coolGray-100 overflow-hidden bg-white rounded-md shadow-dashboard">
            <div class="pb-6 border-b border-coolGray-100">
              <div class="flex flex-wrap items-center justify-between -m-2">
                <div class="w-full md:w-auto p-2">
                  <p class="text-xl text-coolGray-500 font-medium">NGO Drivers</p>
                </div>
                <div class="w-full md:w-auto p-2">
                  <div class="flex flex-wrap justify-between -m-1.5">
                    <div class="w-full md:w-auto p-1.5">
                      <button class="group relative font-medium leading-6 px-5 mb-2 py-3 w-full uppercase text-white text-xs font-semibold tracking-px bg-custom-color hover:bg-custom-hover overflow-hidden rounded-md" onclick="window.location.href='{% url 'recipient:add_driver' %}'">
                        <div class="absolute top-0 left-0 transform -translate-x-full group-hover:-translate-x-0 h-full w-full transition ease-in-out duration-500 bg-gradient-custom"></div>
                        <p class="relative z-10">Add Driver</p>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>


            <div class="pt-4 px-2 overflow-x-auto">
              <table class="table-auto w-full">
                <thead>
                  <tr class="text-sm text-left" style="color: #AF8905;"><th class="font-medium"></th><th class="font-medium">Name</th><th class="font-medium">Email</th><th class="font-medium">Status</th><th class="font-medium">Action</th></tr>
                </thead>
                <tbody>
                  <tr class="text-sm bg-gray-50">
                    <td class="flex px-4 py-3">
                      <img class="w-12 h-12 mr-4 object-cover rounded-md" src="https://i.ibb.co/pWLxj9k/jane.jpg" alt="jane">
                    </td>
                    <td class="font-medium">Peter Poloni</td>
                    <td class="font-medium">peterpoloni@poloni.com</td>
                    <td>
                      <span class="px-2 py-1 text-xs font-bold font-heading border-2 border-green-500 rounded-full text-green-500 bg-white">On Delivery</span>
                    </td>
                    <td>
                      <div>
                        <a class="inline-block mr-2 hover:bg-transparent" href="{% url 'recipient:driver_details' %}" title="More Details">
                        <i class="fa-lg fa-solid fa-eye" style="color: #2BA19A;"></i>
                      </a>
                        <a class="inline-block mr-2 hover:bg-transparent" href="{% url 'recipient:edit_driver' %}" title="Edit">
                          <i class="fa-lg fa-solid fa-pen-to-square" style="color: #2BA19A;"></i>
                        </a>
                        <a class="inline-block hover:bg-transparent" href="#" title="Delete">
                          <i class="fa-lg fa-solid fa-trash-can" style="color: #E85444;"></i>
                        </a>
                      </div>
                    </td>
                  </tr>
                  <tr class="text-sm bg-gray-50">
                    <td class="flex px-4 py-3">
                      <img class="w-12 h-12 mr-4 object-cover rounded-md" src="https://i.ibb.co/pWLxj9k/jane.jpg" alt="jane">
                    </td>
                    <td class="font-medium">Kevin Lelei</td>
                    <td class="font-medium">kevinlelei@lelei.com</td>
                    <td>
                      <span class="px-2 py-1 text-xs font-bold font-heading border-2 border-red-500 rounded-full text-red-500 bg-white">Idle</span>
                    </td>
                    <td>
                      <div>
                        <a class="inline-block mr-2 hover:bg-transparent" href="{% url 'recipient:driver_details' %}" title="More Details">
                        <i class="fa-lg fa-solid fa-eye" style="color: #2BA19A;"></i>
                      </a>
                        <a class="inline-block mr-2 hover:bg-transparent" href="{% url 'recipient:edit_driver' %}" title="Edit">
                          <i class="fa-lg fa-solid fa-pen-to-square" style="color: #2BA19A;"></i>
                        </a>
                        <a class="inline-block hover:bg-transparent" href="#" title="Delete">
                          <i class="fa-lg fa-solid fa-trash-can" style="color: #E85444;"></i>
                        </a>
                      </div>
                    </td>
                  </tr>
                  <tr class="text-sm bg-gray-50">
                    <td class="flex px-4 py-3">
                      <img class="w-12 h-12 mr-4 object-cover rounded-md" src="https://i.ibb.co/mSxz46c/profile.jpg" alt="profile">
                    </td>
                    <td class="font-medium">Selina neneski</td>
                    <td class="font-medium">selinaneneski@neneski.com</td>
                    <td>
                      <span class="px-2 py-1 text-xs font-bold font-heading border-2 border-green-500 rounded-full text-green-500 bg-white">On Delivery</span>
                    </td>
                    <td>
                      <div>
                        <a class="inline-block mr-2 hover:bg-transparent" href="{% url 'recipient:driver_details' %}" title="More Details">
                        <i class="fa-lg fa-solid fa-eye" style="color: #2BA19A;"></i>
                      </a>
                        <a class="inline-block mr-2 hover:bg-transparent" href="{% url 'recipient:edit_driver' %}" title="Edit">
                          <i class="fa-lg fa-solid fa-pen-to-square" style="color: #2BA19A;"></i>
                        </a>
                        <a class="inline-block hover:bg-transparent" href="#" title="Delete">
                          <i class="fa-lg fa-solid fa-trash-can" style="color: #E85444;"></i>
                        </a>
                      </div>
                    </td>
                  </tr>
                  <tr class="text-sm bg-gray-50">
                    <td class="flex px-4 py-3">
                      <img class="w-12 h-12 mr-4 object-cover rounded-md" src="https://i.ibb.co/pWLxj9k/jane.jpg" alt="jane">
                    </td>
                    <td class="font-medium">Zoro Kanjero</td>
                    <td class="font-medium">zorokanjero@kanjero.com</td>
                    <td>
                      <span class="px-2 py-1 text-xs font-bold font-heading border-2 border-green-500 rounded-full text-green-500 bg-white">On Delivery</span>
                    </td>
                    <td>
                      <div>
                        <a class="inline-block mr-2 hover:bg-transparent" href="{% url 'recipient:driver_details' %}" title="More Details">
                        <i class="fa-lg fa-solid fa-eye" style="color: #2BA19A;"></i>
                      </a>
                        <a class="inline-block mr-2 hover:bg-transparent" href="{% url 'recipient:edit_driver' %}" title="Edit">
                          <i class="fa-lg fa-solid fa-pen-to-square" style="color: #2BA19A;"></i>
                        </a>
                        <a class="inline-block hover:bg-transparent" href="#" title="Delete">
                          <i class="fa-lg fa-solid fa-trash-can" style="color: #E85444;"></i>
                        </a>
                      </div>
                    </td>
                  </tr>

                </tbody>
              </table>
            </div>

          </div>
        </div>
      </section>
    </div>

{% endblock content %}