{% extends "recipient/fullbellybase.html" %}

{% block title %}Drivers{% endblock %}

{% block content %}

    <div class="p-6 border border-coolGray-100 overflow-hidden bg-white rounded-md shadow-dashboard relative">
      <div class="pb-6 border-b border-coolGray-100">
        <div class="flex flex-wrap items-center justify-between -m-2">
          <div class="w-full md:w-auto">
            <section>
              <div class="bg-white">
                <div class="container px-4 mx-auto">
                  <div class="flex flex-wrap h-16 py-4 items-center">
                    <p class="inline-block text-xl text-coolGray-500 font-medium">Recipient</p>
                    <span class="mx-3">
                      <i class="fa-solid fa-caret-right"></i>
                    </span>
                    <p class="inline-block text-xl text-coolGray-500 font-medium">Drivers</p>
                    <span class="mx-3">
                      <i class="fa-solid fa-caret-right"></i>
                    </span>
                    <p class="inline-block text-xl text-greenish font-medium hover:bg-transparent">Edit Drivers</p>
                  </div>
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>
<section class="bg-coolGray-50 py-4">
  <div class="container px-4 mx-auto">
    <div class="p-6 h-full border border-coolGray-100 overflow-hidden bg-white rounded-md shadow-dashboard">
      <div class="pb-6 border-b border-coolGray-100">
        <div class="flex flex-wrap items-center justify-between -m-2">
          <div class="w-full md:w-auto p-2">
            <p class="text-lg text-coolGray-500 font-medium">Fill the details below</p>
          </div>
        </div>
      </div>
      <form id="edit-driver-form" method="post" action="#" enctype="multipart/form-data" data-edit-url="{% url 'recipient:edit_driver' driver_id=driver_id %}">
        {% csrf_token %}
        <input type="hidden" name="_method" value="PUT"> <!-- Mimicking PUT method -->

        <div class="mt-4"></div>
        {% for field in form %}
    {% if field.name != 'password1' and field.name != 'password2' and field.name != 'Photo' %}
        <div class="relative w-full py-2 px-3 mb-4 border-gray-400 focus-within:border-green-500 rounded-lg {% if field.errors %}is-invalid{% endif %}">
            <div class="flex items-center">
                <label for="{{ field.id_for_label }}" class="block w-1/4 pr-4 font-medium text-sm text-gray-700">{{ field.label }}</label>
                <div class="w-1/2 flex items-center">
                    {% if field.name == 'OrganizationID' %}
                        <select class="block w-full h-14 bg-transparent text-sm text-dark font-medium rounded-lg" name="{{ field.name }}" id="{{ field.id_for_label }}">
                            <option value="" style="padding-left: 5px;">Select organization</option>
                            {% for choice in field.field.choices %}
                                <option value="{{ choice.0 }}" {% if choice.0 == field.value %}selected{% endif %}>{{ choice.1 }}</option>
                            {% endfor %}
                        </select>
                    {% else %}
                    <input class="block w-full h-14 bg-transparent text-sm text-dark font-medium rounded-lg" type="{% if field.name == 'password1' or field.name == 'password2' %}password{% else %}{{ field.field.widget.input_type }}{% endif %}" name="{{ field.name }}" {% if field.name == 'password1' or field.name == 'password2' %}autocomplete="new-password"{% endif %} id="{{ field.id_for_label }}" data-field-name="{{ field.name }}">
                    {% endif %}
                </div>
            </div>
        </div>
    {% endif %}
{% endfor %}


        <div class="relative w-full py-2 px-3 mb-4 border-gray-400 focus-within:border-green-500 rounded-lg">
          <div class="flex items-center">
            <label for="id_Photo" class="block w-1/4 pr-4 font-medium text-sm text-gray-700">Photo</label>
            <div class="w-1/2 flex items-center">
              <input class="block w-full p-6 h-44 bg-transparent text-sm text-center text-greenish font-medium rounded-lg focus-within:border-greenish border border-dashed border-greenish rounded-lg" type="file" name="Photo" id="id_Photo" accept="image/*" data-field-name="Photo">
            </div>
          </div>
        </div>

        <div class="flex justify-end space-x-4 mt-8">
          <button class="group relative font-medium leading-6 px-4 py-3 w-32 uppercase text-white text-xs font-semibold tracking-px bg-custom-color overflow-hidden rounded-md" onclick="window.location.href='{% url 'recipient:drivers' %}'">
            <div class="absolute top-0 left-0 transform -translate-x-full group-hover:-translate-x-0 h-full w-full transition ease-in-out duration-500 bg-gradient-custom-3"></div>
            <p class="relative z-10">Cancel</p>
          </button>

          <button id="update-driver-button" class="group relative font-semibold leading-6 px-4 py-3 w-32 uppercase text-white text-xs font-semibold tracking-px bg-custom-color hover:bg-custom-hover overflow-hidden rounded-md" type="submit">
            <div class="absolute top-0 left-0 transform -translate-x-full group-hover:-translate-x-0 h-full w-full transition ease-in-out duration-500 bg-gradient-custom"></div>
            <p class="relative z-10">Update Driver</p>
          </button>
        </div>
      </form>
    </div>
  </div>
</section>


      <script>
$(document).ready(function() {
  // Toggle password visibility
  $('.toggle-password').click(function() {
    var passwordInput = $(this).siblings('input[type="password"]');
    var passwordFieldType = passwordInput.attr('type');

    if (passwordFieldType === 'password') {
      passwordInput.attr('type', 'text');
      $(this).html('<i class="fa-solid fa-eye"></i>');
    } else {
      passwordInput.attr('type', 'password');
      $(this).html('<i class="fa-solid fa-eye-slash"></i>');
    }
  });

$('#edit-driver-form').submit(function(event) {
  event.preventDefault();

  var formData = new FormData(this);
  var editUrl = $(this).data('edit-url');

  // Append the image file to the FormData object
  var photoInput = $('input[name="Photo"]')[0];
  formData.append('Photo', photoInput.files[0]);

    $.ajax({
      type: 'POST',
      url: editUrl,
      data: formData,
      dataType: 'json',
      contentType: false,  // Set contentType and processData to false when using FormData
      processData: false,
      beforeSend: function() {
        // Show loading modal
        $('#loading-popup').removeClass('hidden');
      },
      success: function(response) {
        if (response.success) {
          // Hide loading modal
          $('#loading-popup').addClass('hidden');

          // Redirect to driver details page
          window.location.href = '{% url "recipient:drivers" %}';
        } else {
          // Hide success modal if it's shown for any previous registration attempt
          $('#success-popup').addClass('hidden');

          // Handle form errors
          var errors = response.errors;
          for (var field in errors) {
            var errorMessages = errors[field].join('<br>');
            $('#' + field + '-error').html('<span>' + errorMessages + '</span>');
          }
        }
      },
      error: function(error) {
        console.error(error);
      },
      complete: function() {
        // Hide loading modal
        $('#loading-popup').addClass('hidden');
      }
    });
  });
});

</script>
    </div>


{% endblock content %}