{% extends "recipient/fullbellybase.html" %}

{% block title %}Messaging{% endblock %}

{% block content %}

    <div class="p-6 border border-coolGray-100 overflow-hidden bg-white rounded-md shadow-dashboard relative">
      <div class="pb-6 border-b border-coolGray-100">
        <div class="flex flex-wrap items-center justify-between -m-2">
          <div class="w-full md:w-auto p-2">
              <div class="bg-white">
                <div class="container px-4 mx-auto">
                  <div class="flex flex-wrap h-16 py-4 items-center">
                    <p class="inline-block text-xl text-greenish font-medium hover:bg-transparent">Messaging</p>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
      <section class="bg-coolGray-50 py-4">

        <div class="container px-4 mx-auto">

          <div class="p-6 border border-coolGray-100 overflow-hidden bg-white rounded-md shadow-dashboard relative">
            <div class="pb-6 border-b border-coolGray-100">
              <div class="flex flex-wrap items-center justify-between -m-2">
                <div class="w-full md:w-auto p-2">
                  <p class="text-lg text-coolGray-500 font-medium">Inbox</p>
                </div>
              </div>
            </div>
          <section class="py-4 overflow-hidden">
            <div class="container px-4 mx-auto">
              <div class="p-4 bg-gray-50 rounded-lg border border-coolGray-100 transform hover:-translate-y-2 transition-all duration-500">
                <table class="table-fixed w-full">
                  <tbody>
                    <tr class="text-xs bg-gray-50">

                      <td>
                        <div class="ml-1">
                          <h3 class="mb-2 text-lg font-bold font-heading">Red Cross</h3>
                          <h5 class="mb-2 text-sm font-medium">3:28 pm</h5>
                          <h5 class="mb-2 text-sm font-medium">23/4/2023</h5>
                        </div>
                      </td>
                      <td>
                        <div>
                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ultrices lacus et purus scelerisque varius. Sed quam ex, pulvinar quis lorem ut, fermentum gravida leo.</p>
                        </div>
                      </td>
                      <td>
                        <div class="ml-8">
                          <a class="inline-block mr-2 hover:bg-transparent" href="{% url 'recipient:reply' %}" title="Reply">
                            <i class="fa-xl fa-solid fa-reply" style="color: #2BA19A;"></i>
                          </a>
                          <a class="inline-block hover:bg-transparent" href="#" title="Delete">
                            <i class="fa-xl fa-solid fa-trash-can" style="color: #E85444;"></i>
                          </a>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </section>

          <section class="py-4 overflow-hidden">
            <div class="container px-4 mx-auto">
              <div class="p-4 bg-gray-50 rounded-lg border border-coolGray-100 transform hover:-translate-y-2 transition-all duration-500">
                <table class="table-fixed w-full">
                  <tbody>
                    <tr class="text-xs bg-gray-50">

                      <td>
                        <div class="ml-1">
                          <h3 class="mb-2 text-lg font-bold font-heading">Red Cross</h3>
                          <h5 class="mb-2 text-sm font-medium">3:28 pm</h5>
                          <h5 class="mb-2 text-sm font-medium">23/4/2023</h5>
                        </div>
                      </td>
                      <td>
                        <div>
                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ultrices lacus et purus scelerisque varius. Sed quam ex, pulvinar quis lorem ut, fermentum gravida leo.</p>
                        </div>
                      </td>
                      <td>
                        <div class="ml-8">
                          <a class="inline-block mr-2 hover:bg-transparent" href="{% url 'recipient:reply' %}" title="Reply">
                            <i class="fa-xl fa-solid fa-reply" style="color: #2BA19A;"></i>
                          </a>
                          <a class="inline-block hover:bg-transparent" href="#" title="Delete">
                            <i class="fa-xl fa-solid fa-trash-can" style="color: #E85444;"></i>
                          </a>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </section>

          <section class="py-4 overflow-hidden">
            <div class="container px-4 mx-auto">
              <div class="p-4 bg-gray-50 rounded-lg border border-coolGray-100 transform hover:-translate-y-2 transition-all duration-500">
                <table class="table-fixed w-full">
                  <tbody>
                    <tr class="text-xs bg-gray-50">

                      <td>
                        <div class="ml-1">
                          <h3 class="mb-2 text-lg font-bold font-heading">Red Cross</h3>
                          <h5 class="mb-2 text-sm font-medium">3:28 pm</h5>
                          <h5 class="mb-2 text-sm font-medium">23/4/2023</h5>
                        </div>
                      </td>
                      <td>
                        <div>
                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ultrices lacus et purus scelerisque varius. Sed quam ex, pulvinar quis lorem ut, fermentum gravida leo.</p>
                        </div>
                      </td>
                      <td>
                        <div class="ml-8">
                          <a class="inline-block mr-2 hover:bg-transparent" href="{% url 'recipient:reply' %}" title="Reply">
                            <i class="fa-xl fa-solid fa-reply" style="color: #2BA19A;"></i>
                          </a>
                          <a class="inline-block hover:bg-transparent" href="#" title="Delete">
                            <i class="fa-xl fa-solid fa-trash-can" style="color: #E85444;"></i>
                          </a>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </section>
          </div>
        </div>
      </section>
      <section class="bg-coolGray-50 py-4">

        <div class="container px-4 mx-auto">

          <div class="p-6 border border-coolGray-100 overflow-hidden bg-white rounded-md shadow-dashboard relative">
            <div class="pb-6 border-b border-coolGray-100">
              <div class="flex flex-wrap items-center justify-between -m-2">
                <div class="w-full md:w-auto p-2">
                  <p class="text-xl text-coolGray-500 font-medium">Outbox</p>
                </div>
                <div class="w-full md:w-auto p-2">
                  <div class="flex flex-wrap justify-between -m-1.5">
                    <div class="w-full md:w-auto p-1.5">
                      <button class="flex flex-wrap justify-center w-full px-4 py-2 font-medium text-sm border-2 border-gray-400 hover:border-coolGray-300 bg-white rounded-md shadow-button" onclick="window.location.href='{% url 'recipient:send_message' %}'">
                        <p>Send Message</p>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <section class="py-4 overflow-hidden">
            <div class="container px-4 mx-auto">
              <div class="p-4 bg-gray-50 rounded-lg border border-coolGray-100 transform hover:-translate-y-2 transition-all duration-500">
                <table class="table-fixed w-full">
                  <tbody>
                    <tr class="text-xs bg-gray-50">

                      <td>
                        <div class="ml-1">
                          <h3 class="mb-2 text-lg font-bold font-heading">Red Cross</h3>
                          <h5 class="mb-2 text-sm font-medium">3:28 pm</h5>
                          <h5 class="mb-2 text-sm font-medium">23/4/2023</h5>
                        </div>
                      </td>
                      <td>
                        <div>
                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ultrices lacus et purus scelerisque varius. Sed quam ex, pulvinar quis lorem ut, fermentum gravida leo.</p>
                        </div>
                      </td>
                      <td>
                        <div class="ml-8">
                          <a class="inline-block hover:bg-transparent" href="#" title="Delete">
                            <i class="fa-xl fa-solid fa-trash-can" style="color: #E85444;"></i>
                          </a>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </section>

          <section class="py-4 overflow-hidden">
            <div class="container px-4 mx-auto">
              <div class="p-4 bg-gray-50 rounded-lg border border-coolGray-100 transform hover:-translate-y-2 transition-all duration-500">
                <table class="table-fixed w-full">
                  <tbody>
                    <tr class="text-xs bg-gray-50">

                      <td>
                        <div class="ml-1">
                          <h3 class="mb-2 text-lg font-bold font-heading">Red Cross</h3>
                          <h5 class="mb-2 text-sm font-medium">3:28 pm</h5>
                          <h5 class="mb-2 text-sm font-medium">23/4/2023</h5>
                        </div>
                      </td>
                      <td>
                        <div>
                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ultrices lacus et purus scelerisque varius. Sed quam ex, pulvinar quis lorem ut, fermentum gravida leo.</p>
                        </div>
                      </td>
                      <td>
                        <div class="ml-8">
                          <a class="inline-block hover:bg-transparent" href="#" title="Delete">
                            <i class="fa-xl fa-solid fa-trash-can" style="color: #E85444;"></i>
                          </a>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </section>

          <section class="py-4 overflow-hidden">
            <div class="container px-4 mx-auto">
              <div class="p-4 bg-gray-50 rounded-lg border border-coolGray-100 transform hover:-translate-y-2 transition-all duration-500">
                <table class="table-fixed w-full">
                  <tbody>
                    <tr class="text-xs bg-gray-50">

                      <td>
                        <div class="ml-1">
                          <h3 class="mb-2 text-lg font-bold font-heading">Red Cross</h3>
                          <h5 class="mb-2 text-sm font-medium">3:28 pm</h5>
                          <h5 class="mb-2 text-sm font-medium">23/4/2023</h5>
                        </div>
                      </td>
                      <td>
                        <div>
                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ultrices lacus et purus scelerisque varius. Sed quam ex, pulvinar quis lorem ut, fermentum gravida leo.</p>
                        </div>
                      </td>
                      <td>
                        <div class="ml-8">
                          <a class="inline-block hover:bg-transparent" href="#" title="Delete">
                            <i class="fa-xl fa-solid fa-trash-can" style="color: #E85444;"></i>
                          </a>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </section>
          </div>
        </div>
      </section>
    </div>

{% endblock content %}