
{% extends "recipient/fullbellybase.html" %}

{% block title %}Donations{% endblock %}

{% block content %}

    <div class="p-6 border border-coolGray-100 overflow-hidden bg-white rounded-md shadow-dashboard relative">
      <div class="pb-6 border-b border-coolGray-100">
        <div class="flex flex-wrap items-center justify-between -m-2">
          <div class="w-full md:w-auto">
            <section>
              <div class="bg-white">
                <div class="container px-4 mx-auto">
                  <div class="flex flex-wrap h-16 py-4 items-center">
                    <p class="inline-block text-xl text-coolGray-500 font-medium">Recipient</p>
                    <span class="mx-3">
                      <i class="fa-solid fa-caret-right"></i>
                    </span>
                    <p class="inline-block text-xl text-coolGray-500 font-medium">Donations</p>
                    <span class="mx-3">
                      <i class="fa-solid fa-caret-right"></i>
                    </span>
                    <p class="inline-block text-xl text-greenish font-medium hover:bg-transparent">Request Donation</p>
                  </div>
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>
<section class="bg-coolGray-50 py-4">
  <div class="container px-4 mx-auto">
    <div class="p-6 border border-coolGray-100 overflow-hidden bg-white rounded-md shadow-dashboard relative">
      <div class="pb-6 border-b border-coolGray-100">
              <div class="flex flex-wrap items-center justify-between -m-2">
                <div class="w-full md:w-auto p-2">
                  <p class="text-xl text-coolGray-500 font-medium">Top 5 Rated Restaurants</p>
                </div>
                <div class="w-full md:w-auto p-2">
                  <div class="flex flex-wrap justify-between -m-1.5">
                    <div class="w-full md:w-auto p-1.5">
                      <button class="group relative font-medium leading-6 px-5 mb-2 py-3 w-full uppercase text-white text-xs font-semibold tracking-px bg-custom-color hover:bg-custom-hover overflow-hidden rounded-md" onclick="window.location.href='{% url 'recipient:request_donation_1' %}'">
                        <div class="absolute top-0 left-0 transform -translate-x-full group-hover:-translate-x-0 h-full w-full transition ease-in-out duration-500 bg-gradient-custom"></div>
                        <p class="relative z-10">Request Donation</p>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>


      <div class="relative flex flex-row w-full overflow-x-scroll hide-scroll-bar card-container" style="scrollbar-width: none;">


{% if top_restaurants %}
{% for restaurant in top_restaurants %}
  {% if forloop.counter <= 5 %}
    <div class="relative flex-shrink-0 w-full sm:w-1/2 lg:w-1/3 max-w-sm p-4 flex flex-col">
  <div class="p-4 bg-gray-50 rounded-lg border border-coolGray-100 transform hover:-translate-y-2 transition-all duration-500">
    {% if restaurant.Status == 'Verified' %}
    <span class="px-2 py-1 text-xs font-bold font-heading border-2 border-green-500 rounded-full text-green-500 bg-white">Verified</span>
    {% else %}
    <span class="px-2 py-1 text-xs font-bold font-heading border-2 border-red-500 rounded-full text-red-500 bg-white">Unverified</span>
    {% endif %}
    <a class="block mt-6 mb-2 hover:bg-transparent">
      <img class="mb-4 mx-auto h-64 w-64 object-cover rounded-lg border border-coolGray-100" src="{{ restaurant.Photo.url }}" alt="restaurant">
      <div class="ml-4">
        <h3 class="mb-2 text-xl text-black font-bold font-heading">{{ restaurant.Name }}</h3>
        <div class="rating-stars">
          {% with restaurant_restaurantrating=restaurant.average_rating|floatformat:1 %}
            {% for i in '12345' %}
              {% if restaurant_restaurantrating >= i|floatformat:1 %}
                <i class="fas fa-star"></i>
              {% elif restaurant_restaurantrating >= i|add:0.5|floatformat:1 %}
                <i class="fas fa-star-half-alt"></i>
              {% else %}
                <i class="far fa-star"></i>
              {% endif %}
            {% endfor %}
          {% endwith %}
        </div>

        <span class="text-xs text-gray-500 font-semibold font-heading">{{ restaurant.num_ratings }} Ratings</span>
      </div>
    </a>
    <div class="w-full md:w-auto p-2">
      <div class="flex justify-center md:justify-between">
        <div class="w-full md:w-auto">
          <button class="group relative font-medium leading-6 px-5 mb-2 py-3 w-full uppercase text-white text-xs font-semibold tracking-px bg-custom-color hover:bg-custom-hover overflow-hidden rounded-md" onclick="window.location.href='{% url 'recipient:restaurant_details' restaurant.RestaurantID %}'">
                          <div class="absolute top-0 left-0 transform -translate-x-full group-hover:-translate-x-0 h-full w-full transition ease-in-out duration-500 bg-gradient-custom"></div>
                          <p class="relative z-10">View</p>
                        </button>
        </div>
      </div>
    </div>
  </div>
</div>
  {% endif %}
{% endfor %}
        {% else %}
                      <p class="text-center text-gray-500 py-5">There are currently no registered Restaurants</p>
                    {% endif %}



      </div>

<!-- Left arrow button -->
<div class="absolute top-1/2 left-4 transform -translate-y-1/2 arrow-btn left-btn">
  <button class="px-2 py-1 rounded-full bg-gray-200 text-gray-500 hover:bg-gray-300 focus:outline-none focus:ring-2 focus:ring-gray-400"><i class="fas fa-angle-left"></i></button>
</div>

<!-- Right arrow button -->
<div class="absolute top-1/2 right-4 transform -translate-y-1/2 arrow-btn right-btn">
  <button class="px-2 py-1 rounded-full bg-gray-200 text-gray-500 hover:bg-gray-300 focus:outline-none focus:ring-2 focus:ring-gray-400"><i class="fas fa-angle-right"></i></button>
</div>


    </div>
  </div>

  <script>
    const section = document.querySelector('.overflow-x-scroll');
    const arrowBtns = document.querySelectorAll('.arrow-btn');

    arrowBtns.forEach(btn => {
      btn.addEventListener('click', () => {
        const scrollAmount = section.clientWidth / 2;
        if (btn.classList.contains('left-btn')) {
          section.scrollLeft -= scrollAmount;
        } else if (btn.classList.contains('right-btn')) {
          section.scrollLeft += scrollAmount;
        }
      });
    });
  </script>
</section>

  <div class="container px-4 mx-auto">

    <div class="p-6 border border-coolGray-100 overflow-hidden bg-white rounded-md shadow-dashboard relative">
      <div class="pb-6 border-b border-coolGray-100">
        <div class="flex flex-wrap items-center justify-between -m-2">
          <div class="w-full md:w-auto p-2">
            <p class="text-lg text-coolGray-500 font-medium">Other Restaurants</p>
          </div>
        </div>
      </div>
{% if other_restaurants %}
  {% for restaurant in other_restaurants %}
    <section class="py-4 overflow-hidden">
      <div class="container px-4 mx-auto">
        <div class="p-4 bg-gray-50 rounded-lg border border-coolGray-100 transform hover:-translate-y-2 transition-all duration-500">
          <table class="table-fixed w-full">
            <tbody>
              <tr class="text-xs bg-gray-50">
                <td class="flex px-4 py-3">
                  <img class="w-20 h-20 mr-4 object-cover rounded-md border border-coolGray-100" src="{{ restaurant.Photo.url }}" alt="restaurant">
                </td>
                <td>
                  <h3 class="mb-2 text-xl font-bold font-heading">{{ restaurant.Name }}</h3>
                </td>
                <td class="hidden md:table-cell">
                  {% if restaurant.Status == 'Unverified' %}
                    <span class="px-2 py-1 text-xs font-bold font-heading border-2 border-red-500 rounded-full text-red-500 bg-white">Unverified</span>
                  {% else %}
                    <span class="px-2 py-1 text-xs font-bold font-heading border-2 border-green-500 rounded-full text-green-500 bg-white">Verified</span>
                  {% endif %}
                </td>
                <td class="hidden md:table-cell">
                  <div class="rating-stars">
                    {% with restaurant_rating=restaurant.average_rating|floatformat:1 %}
                      {% for i in '12345' %}
                        {% if restaurant_rating >= i|floatformat:1 %}
                          <i class="fas fa-star"></i>
                        {% elif restaurant_rating >= i|add:0.5|floatformat:1 %}
                          <i class="fas fa-star-half-alt"></i>
                        {% else %}
                          <i class="far fa-star"></i>
                        {% endif %}
                      {% endfor %}
                    {% endwith %}
                  </div>
                  <span class="text-xs text-gray-500 font-semibold font-heading">{{ restaurant.num_ratings }} Rating</span>
                </td>
                <td>
                  <div class="w-full md:w-auto p-2">
                    <div class="flex flex-wrap justify-center md:justify-between -m-1.5">
                      <div class="w-full md:w-auto p-1.5">
                        <button class="group relative font-medium leading-6 px-5 mb-2 py-3 w-full uppercase text-white text-xs font-semibold tracking-px bg-custom-color hover:bg-custom-hover overflow-hidden rounded-md" onclick="window.location.href='{% url 'recipient:restaurant_details' restaurant.RestaurantID %}'">
                          <div class="absolute top-0 left-0 transform -translate-x-full group-hover:-translate-x-0 h-full w-full transition ease-in-out duration-500 bg-gradient-custom"></div>
                          <p class="relative z-10">View</p>
                        </button>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
              <tr class="text-xs bg-gray-50 md:hidden">
                <td class="py-3">
                  {% if restaurant.Status == 'Unverified' %}
                    <span class="px-2 py-1 text-xs font-bold font-heading border-2 border-red-500 rounded-full text-red-500 bg-white">Unverified</span>
                  {% else %}
                    <span class="px-2 py-1 text-xs font-bold font-heading border-2 border-green-500 rounded-full text-green-500 bg-white">Verified</span>
                  {% endif %}
                </td>
                <td class="hidden md:table-cell">
                  <div class="rating-stars">
                    {% with restaurant_rating=restaurant.average_rating|floatformat:1 %}
                      {% for i in '12345' %}
                        {% if restaurant_rating >= i|floatformat:1 %}
                          <i class="fas fa-star"></i>
                        {% elif restaurant_rating >= i|add:0.5|floatformat:1 %}
                          <i class="fas fa-star-half-alt"></i>
                        {% else %}
                          <i class="far fa-star"></i>
                        {% endif %}
                      {% endfor %}
                    {% endwith %}
                  </div>
                  <span class="text-xs text-gray-500 font-semibold font-heading">{{ restaurant.num_ratings }} Rating</span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </section>
  {% endfor %}
{% else %}
                      <p class="text-center text-gray-500 py-5">There are currently no other Restaurants.</p>
                    {% endif %}



    </div>
  </div>



</div>

{% endblock content %}