{% extends "driver/fullbellybase.html" %}

{% block title %}Notification{% endblock %}

{% block content %}

    <div class="p-6 border border-coolGray-100 overflow-hidden bg-white rounded-md shadow-dashboard relative">
      <div class="pb-6 border-b border-coolGray-100">
        <div class="flex flex-wrap items-center justify-between -m-2">
          <div class="w-full md:w-auto p-2">
              <div class="bg-white">
                <div class="container px-4 mx-auto">
                  <div class="flex flex-wrap h-16 py-4 items-center">
                    <p class="inline-block text-xl text-greenish font-medium hover:bg-transparent">Notifications</p>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
      <section class="bg-coolGray-50 py-4">

        <div class="container px-4 mx-auto">

          <div class="p-6 border border-coolGray-100 overflow-hidden bg-white rounded-md shadow-dashboard relative">
            <div class="pb-6 border-b border-coolGray-100">
              <div class="flex flex-wrap items-center justify-between -m-2">
                <div class="w-full md:w-auto p-2">
                  <p class="text-lg text-coolGray-500 font-medium">View your notifications below</p>
                </div>
              </div>
            </div>
          <section class="py-4 overflow-hidden">
            <div class="container px-4 mx-auto">
              <div class="p-4 bg-gray-50 rounded-lg border border-coolGray-100 transform hover:-translate-y-2 transition-all duration-500">
                <table class="table-fixed w-full">
                  <tbody>
                    <tr class="text-xs bg-gray-50">

                      <td>
                        <div class="ml-3">
                          <h3 class="mb-2 text-lg text-greenish font-bold font-heading">Success<i class="ml-2 fa-solid fa-handshake"></i></h3>
                        </div>
                      </td>
                      <td>
                        <div>
                          <p class="text-sm">Kempinski is Verified !!</p>
                        </div>
                      </td>
                      <td>
                        <div class="ml-3">
                          <p class="text-sm">23/4/2023, 3:23pm</p>
                        </div>
                      </td>
                      <td>
                        <div class="ml-8">
                          <a class="inline-block hover:bg-transparent" href="#" title="Delete">
                            <i class="fa-xl fa-solid fa-trash-can" style="color: #E85444;"></i>
                          </a>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </section>

          <section class="py-4 overflow-hidden">
            <div class="container px-4 mx-auto">
              <div class="p-4 bg-gray-50 rounded-lg border border-coolGray-100 transform hover:-translate-y-2 transition-all duration-500">
                <table class="table-fixed w-full">
                  <tbody>
                    <tr class="text-xs bg-gray-50">

                      <td>
                        <div class="ml-3">
                          <h3 class="mb-2 text-lg text-greenish font-bold font-heading">Success<i class="ml-2 fa-solid fa-handshake"></i></h3>
                        </div>
                      </td>
                      <td>
                        <div>
                          <p class="text-sm">Ole Sereni added !!</p>
                        </div>
                      </td>
                      <td>
                        <div class="ml-3">
                          <p class="text-sm">23/4/2023, 3:23pm</p>
                        </div>
                      </td>
                      <td>
                        <div class="ml-8">
                          <a class="inline-block hover:bg-transparent" href="#" title="Delete">
                            <i class="fa-xl fa-solid fa-trash-can" style="color: #E85444;"></i>
                          </a>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </section>

            <section class="py-4 overflow-hidden">
            <div class="container px-4 mx-auto">
              <div class="p-4 bg-gray-50 rounded-lg border border-coolGray-100 transform hover:-translate-y-2 transition-all duration-500">
                <table class="table-fixed w-full">
                  <tbody>
                    <tr class="text-xs bg-gray-50">
                      <td>
                        <div class="ml-3">
                          <h3 class="mb-2 text-lg text-red-500 font-bold font-heading">Error<i class="ml-2 fa-solid fa-circle-exclamation"></i></h3>
                        </div>
                      </td>
                      <td>
                        <div>
                          <p class="text-sm">Sarova Restaurant Is Not Verified !!</p>
                        </div>
                      </td>
                      <td>
                        <div class="ml-3">
                          <p class="text-sm">23/4/2023, 3:23pm</p>
                        </div>
                      </td>
                      <td>
                        <div class="ml-8">
                          <a class="inline-block hover:bg-transparent" href="#" title="Delete">
                            <i class="fa-xl fa-solid fa-trash-can" style="color: #E85444;"></i>
                          </a>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </section>

          <section class="py-4 overflow-hidden">
            <div class="container px-4 mx-auto">
              <div class="p-4 bg-gray-50 rounded-lg border border-coolGray-100 transform hover:-translate-y-2 transition-all duration-500">
                <table class="table-fixed w-full">
                  <tbody>
                    <tr class="text-xs bg-gray-50">
                      <td>
                        <div class="ml-3">
                          <h3 class="mb-2 text-lg text-greenish font-bold font-heading">Success<i class="ml-2 fa-solid fa-handshake"></i></h3>
                        </div>
                      </td>
                      <td>
                        <div>
                          <p class="text-sm">The Donation received !!</p>
                        </div>
                      </td>
                      <td>
                        <div class="ml-3">
                          <p class="text-sm">23/4/2023, 3:23pm</p>
                        </div>
                      </td>
                      <td>
                        <div class="ml-8">
                          <a class="inline-block hover:bg-transparent" href="#" title="Delete">
                            <i class="fa-xl fa-solid fa-trash-can" style="color: #E85444;"></i>
                          </a>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </section>
          </div>
        </div>
      </section>
    </div>

{% endblock content %}